.venv/
**/__pycache__/
*.pyc

# Python # 
*.py[cod] 
*$py.class
db.sqlite3

.env
.env.dev
.env.prod.db
.env.prod

# Pre-commit-related
.pre-commit/
.pre-commit-config.yaml.log

# Docker-specific
docker-compose.override.yml
